flask
torch==2.1.0
torchaudio==2.1.0
transformers
faster-whisper
pandas
nltk
librosa
ffmpeg-python
python-dotenv
gunicorn
rq
pyannote.audio>=2.1.1,<3.0.0
whisperx @ git+https://github.com/m-bain/whisperx.git
