flask
gunicorn
torch
torchaudio
transformers
faster-whisper
pandas
nltk
librosa
rq
redis
python-dotenv
scipy
blinker
itsdangerous
async-timeout
whisperx @ git+https://github.com/m-bain/whisperx.git
pyannote.audio
