flask
gunicorn
torch
torchaudio
transformers
faster-whisper
pandas
nltk
librosa
rq
redis
scipy
python-dotenv
itsdangerous
werkzeug
blinker
async-timeout
python-dateutil
huggingface_hub
regex
safetensors
tokenizers
einops
pyannote.audio
pyannote.core
pytorch_lightning
lightning-utilities
omegaconf
hydra-core
torchmetrics
scikit-learn
joblib
threadpoolctl
lazy_loader
whisperx @ git+https://github.com/m-bain/whisperx.git
